@page "/ContenderInscription"
@using Log = Serilog.Log

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager navManager

<div>
  <div>
    <h2><span>Contender:</span> @_contenderName on <span>Event:</span> @_eventName</h2>
  </div>
  <table>
    <tr>
      <td>Contender Number</td>
      <td><SfTextBox @bind-Value="@_contenderNumber" Type="InputType.Text"></SfTextBox></td>
    </tr>
    <tr>
      <td><SfButton Content="Go Back" @onclick="@(() => { navManager.NavigateTo($"/Contenders?eid={_eventId}"); })"/></td>
      <td><SfButton IsPrimary="true" Content="Save All Changes" @onclick="@OnSaveChanges"/></td>
    </tr>
  </table>
  <div>
    <SfGrid @ref="Grid" TValue="InternalEventChallengeDivision" ID="@nameof(Grid)"
            AllowFiltering="true" AllowReordering="true" AllowResizing="true"
            AllowPdfExport="true" AllowSelection="true" AllowSorting="true"
            Toolbar="@(new List<string> { "Update", "Cancel", "PdfExport", "Print", "Search" })"
            DataSource="_lstChallengesDivisions">
      <GridEditSettings AllowEditing="true"/>
      <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"/>
      <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"/>
      <GridSortSettings>
        <GridSortColumns>
          <GridSortColumn Field="@nameof(InternalEventChallengeDivision.EventChallengeName)"/>
        </GridSortColumns>
      </GridSortSettings>
      <GridEvents OnToolbarClick="@OnGridToolBarClick" TValue="InternalEventChallengeDivision"/>
      <GridColumns>
        <GridColumn Field="@nameof(InternalEventChallengeDivision.Key)" IsPrimaryKey="true" Visible="false"/>
        <GridColumn Field="@nameof(InternalEventChallengeDivision.Selected)" DisplayAsCheckBox="true" HeaderText="Selected" Width="70"/>
        <GridColumn Field="@nameof(InternalEventChallengeDivision.EventChallengeName)" HeaderText="Challenge" Width="150" AllowEditing="false" />
        <GridColumn Field="@nameof(InternalEventChallengeDivision.DivisionName)" HeaderText="Division" Width="150" AllowEditing="false"/>
        <GridColumn Field="@nameof(InternalEventChallengeDivision.CompetitionName)" HeaderText="Competition" Width="150" AllowEditing="false"/>
      </GridColumns>
    </SfGrid>
  </div>
</div>

@code {
  SfGrid<InternalEventChallengeDivision>? Grid;
  List<InternalEventChallengeDivision>? _lstChallengesDivisions;
  int? _eventId;
  int? _contenderId;
  string? _contenderName;
  string? _eventName;
  string? _contenderNumber;
  
  private void OnSaveChanges(MouseEventArgs obj)
  {
    if (_lstChallengesDivisions == null) return;

    var db = new InjaData.Models.dbContext();
    
    var _dbInscrip = db.Userinscriptions
      .Where(x => x.Uuserid == _contenderId && x.Ueventid == _eventId && x.Utypeid == 1)
      .ToList();
    
    foreach (var item in _lstChallengesDivisions)
    {
      var dbIncr = _dbInscrip.FirstOrDefault(x => x.Eventchallengeid == item.EventChallengeid && x.Divisionid == item.DivisionId);
      switch (item.Selected)
      {
  // lo seleccionaron y no está
        case true when dbIncr == null:
        {
          db.Userinscriptions.Add(new Userinscription
          {
            Eventchallengeid = item.EventChallengeid,
            Divisionid = item.DivisionId,
            Wonfirstplace = 0,
            Inscriptiondate = DateTime.Now,
            Utypeid = 1,
            Ueventid = Convert.ToInt32(_eventId),
            Uuserid = Convert.ToInt32(_contenderId)
          });
          break;
        }
  // Está y lo tengo que borrar
        case false when dbIncr != null:
          db.Userinscriptions.Remove(dbIncr);
          break;
      }
    }

    var dbUserType = db
      .Injauserusertypes
      .FirstOrDefault(x => x.Eventid == _eventId && x.Userid == _contenderId && x.Typeid == 1);

    if (dbUserType == null)
    {
      dbUserType = new Injauserusertype
      {
        Eventid = (int)_eventId!,
        Typeid = 1,
        Userid = (int)_contenderId!
      };
      db.Injauserusertypes.Add(dbUserType);
    }
  
    dbUserType.UserNumber = _contenderNumber;
          
    try
    {
      db.SaveChanges();
      navManager.NavigateTo($"/Contenders?eid={_eventId}");
    }
    catch (Exception e)
    {
      Log.Error(e,"Error on ContenderInscriptions");
    }
  }
  
  private void FillDS()
  {
    var db = new InjaData.Models.dbContext();
    _lstChallengesDivisions = null;

    var cosa = db.VEventchallengedivisionPlanas.Where(x => x.Eventid == _eventId).ToList();
    var insc = db.VUserinscriptionPlanas.Where(x => x.Eventid == _eventId && x.Userid == _contenderId).ToList();

    _contenderNumber = db
      .Injauserusertypes
      .FirstOrDefault(x => x.Eventid == _eventId && x.Userid == _contenderId && x.Typeid == 1)?
      .UserNumber;    
    
    _eventName = db
      .Events
      .FirstOrDefault(x => x.Id == _eventId)?
      .Name;
    
    _lstChallengesDivisions = new List<InternalEventChallengeDivision>();
    foreach (var item in cosa)
    {
      _lstChallengesDivisions.Add(new InternalEventChallengeDivision
      {
        DivisionId = Convert.ToInt32(item.Divisionid),
        DivisionName = Convert.ToString(item.Divisionname) ?? string.Empty,
        EventChallengeid = Convert.ToInt32(item.Eventchallengeid),
        EventChallengeName = Convert.ToString(item.Eventchallengename) ?? string.Empty,
        CompetitionName = Convert.ToString(item.Competitiontypename) ?? string.Empty,
        CompetitionId = Convert.ToInt32(item.Competitiontypeid),
        Selected = insc.Any(x => x.Eventchallengeid == item.Eventchallengeid && x.Divisionid == item.Divisionid)
      });
    }
  }

  private async Task OnGridToolBarClick(ClickEventArgs args)
  {
    if (Grid == null) return;
    switch (args.Item.Id)
    {
      case $"{nameof(Grid)}_excelexport":
        await Grid.ExportToExcelAsync();
        break;
      case $"{nameof(Grid)}_pdfexport":
        await Grid.ExportToPdfAsync();
        break;
      case $"{nameof(Grid)}_csvexport":
        await Grid.ExportToCsvAsync();
        break;
    }
  }

  protected override async Task OnInitializedAsync()
  {
    try
    {
      var result = await sessionStorage.GetItemAsync<Tuple<int, int, string>>("ContenderInscription");
      _eventId = result.Item1;
      _contenderId = result.Item2;
      _contenderName = result.Item3;
      FillDS();
    }
    catch (Exception e)
    {
      Log.Error(e, "Error on ContenderInscription OnInitialized");
      navManager.NavigateTo("/Contenders");
    }
  }
}

@code{

  public class InternalEventChallengeDivision
  {
    public string Key => $"{EventChallengeid}_{DivisionId}";
    public int EventChallengeid { get; set; }
    public string EventChallengeName { get; set; } = string.Empty;
    public int DivisionId { get; set; }
    public string DivisionName { get; set; } = string.Empty;
    public int CompetitionId { get; set; }
    public string CompetitionName { get; set; } = string.Empty;
    public bool Selected { get; set; }
  }
}