@page "/GrandChampion"

@attribute [Authorize(Roles = "4,5")]

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.WebUtilities

@inject IJSRuntime JsRuntime
@inject NavigationManager navManager

<h3>Grand Champion</h3>

<div>
  <div>
    <table>
      <tr>
        <td style="width: 150px">
          <span>Event:</span>
        </td>
        <td style="width: 500px">
          <SfComboBox @ref="@_comboEvent" @bind-Value="@(_eventId)" TValue="int?" TItem="Event"
                      Width="550" PopupWidth="500"
                      DataSource="@(_lstEvents)">
            <ComboBoxFieldSettings Text="@nameof(Event.Name)" Value="@nameof(Event.Id)"/>
            <ComboBoxEvents TValue="int?" TItem="Event" ValueChange="@OnEventValueChange"/>
          </SfComboBox>
        </td>
      </tr>
    </table>
    <div>
      <SfButton Content="Go Back" @onclick="@(() => navManager.NavigateTo($"WinByChallengeDivision{( _eventId != null ? $"?eid={_eventId}" : string.Empty)}"))"/>
    </div>
  </div>
  <div>
    <SfGrid @ref="GridWinners" TValue="VGrandChampion" DataSource="@_lstData"
            AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowSorting="true"
            AllowExcelExport="true" AllowPdfExport="true" AllowGrouping="true"
            Toolbar="@(new List<string> { "ExcelExport", "PdfExport", "CsvExport" })">
      <GridSortSettings>
        <GridSortColumns>
          <GridSortColumn Field="@nameof(VGrandChampion.Finalpoints)" Direction="SortDirection.Descending"/>
        </GridSortColumns>
      </GridSortSettings>
      <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"/>
      <GridGroupSettings Columns="@(new[] { nameof(VGrandChampion.Divisionname) })"/>
      <GridEvents OnToolbarClick="@GridToolbarClick" TValue="VGrandChampion"/>
      <GridColumns>
        <GridColumn Field="@nameof(VGrandChampion.Contendernumber)" HeaderText="Number"/>
        <GridColumn Field="@nameof(VGrandChampion.Contendername)" HeaderText="Contender"/>
        <GridColumn Field="@nameof(VGrandChampion.Divisionname)" HeaderText="Div Name"/>
        <GridColumn Field="@nameof(VGrandChampion.Finalpoints)" HeaderText="Points"/>
        <GridColumn Field="@nameof(VGrandChampion.Rank)" HeaderText="Rank"/>
      </GridColumns>
    </SfGrid>
  </div>
</div>

@code {
  private readonly dbContext _db = new();
  
  List<Event>? _lstEvents;
  int? _eventId;
  SfComboBox<int?, Event>? _comboEvent;

  List<VGrandChampion>? _lstData;
  SfGrid<VGrandChampion>? GridWinners;

  private async Task FillDS()
  {
    _lstEvents = await _db.Events.Where(x => x.Active == true).OrderBy(x => x.Name).ToListAsync();

    if (_eventId != null)
    {
      _lstData = new dbContext()
        .VGrandChampions
        .Where(x => x.Eventid == _eventId && x.Competitiontypeid == 1)
        .ToList();
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var foundQueryParameter = QueryHelpers.ParseQuery(navManager.ToAbsoluteUri(navManager.Uri).Query);

    if (foundQueryParameter.TryGetValue("eid", out var eid))
    {
      _eventId = Convert.ToInt32(eid);
    }

    await FillDS();
  }


  private async Task OnEventValueChange(ChangeEventArgs<int?, Event> args)
  {
    await FillDS();
    if (GridWinners != null)
      await GridWinners.Refresh();
    StateHasChanged();
  }

  private async Task GridToolbarClick(ClickEventArgs args)
  {
    if (GridWinners == null) return;
    switch (args.Item.Id)
    {
      case $"{nameof(GridWinners)}_excelexport":
        await GridWinners.ExportToExcelAsync();
        break;
      case $"{nameof(GridWinners)}_pdfexport":
        await GridWinners.ExportToPdfAsync();
        break;
      case $"{nameof(GridWinners)}_csvexport":
        await GridWinners.ExportToCsvAsync();
        break;
    }
  }

}