@page "/PointView"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager navManager
@using Microsoft.EntityFrameworkCore

<h3>PointView</h3>

<div>
  <div>
    <table>
      <tr>
        <td>Event</td>
        <td width="400">
          <SfComboBox @ref="comboEvents" @bind-Value="@(_eventId)" TValue="int?" TItem="Event"
                      Width="550" PopupWidth="500"
                      DataSource="@(_lstEvents)">
            <ComboBoxFieldSettings Text="@nameof(Event.Name)" Value="@nameof(Event.Id)"/>
            <ComboBoxEvents TValue="int?" TItem="Event" ValueChange="@OnEventValueChange"/>
          </SfComboBox>
        </td>
        <td>Challenge</td>
        <td width="350">
          <SfComboBox @ref="comboChallenges" @bind-Value="@_eventChallengeId" TValue="int?" TItem="EventChallengeInternal"
                      Width="550" PopupWidth="500"
                      DataSource="@(_lstChallenges)">
            <ComboBoxFieldSettings Text="@nameof(EventChallengeInternal.EventChallengeName)" Value="@nameof(EventChallengeInternal.EventChallengeId)"/>
            <ComboBoxEvents TValue="int?" TItem="EventChallengeInternal" ValueChange="@OnEventChallengeValueChange"/>
          </SfComboBox>
        </td>
        <td>Competition</td>
        <td>
          <SfComboBox @ref="comboDivisions" @bind-Value="@_divisionId" TValue="int?" TItem="EventChallengeDivisionInternal"
                      Width="550" PopupWidth="500"
                      DataSource="@(_lstDivision)">
            <ComboBoxFieldSettings Text="@nameof(EventChallengeDivisionInternal.DivisionCompetition)" Value="@nameof(EventChallengeDivisionInternal.DivisionId)"/>
            <ComboBoxEvents TValue="int?" TItem="EventChallengeDivisionInternal" ValueChange="@OnDivisionValueChange"/>
          </SfComboBox>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <SfGrid @ref="@GridPoints" TValue="VGroupUserpoint" ID="@nameof(GridPoints)"
            AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowPdfExport="true" AllowSelection="true" AllowSorting="true"
            Toolbar="@(new List<string> { "ExcelExport", "PdfExport", "CsvExport", "Search" })"
            DataSource="@_lstPoints" Query="@GetPointsQuery()">
      <GridEditSettings AllowEditing="true" Mode="EditMode.Normal"/>
      <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"/>
      <GridPageSettings PageSize="100" PageSizes="@(new object[] { 100, "All" })"/>
      <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"/>
      <GridEvents OnActionBegin="@GridPointsActionBegin" OnToolbarClick="@GridToolbarClick" TValue="VGroupUserpoint"/>
      <GridColumns>
        <GridColumn Field="@nameof(VGroupUserpoint.Contendername)" HeaderText="Contender" Width="200"/>
        <GridColumn Field="@nameof(VGroupUserpoint.NotEval)" HeaderText="Not Evals" Width="150"/>
        <GridColumn Field="@nameof(VGroupUserpoint.Eval)" HeaderText="Evals" Width="150"/>
        <GridColumn Field="@nameof(VGroupUserpoint.Totalpoints)" HeaderText="Totalpoints" Width="150"/>
        <GridColumn Field="@nameof(VGroupUserpoint.Maxscore)" HeaderText="Maxscore" Width="150"/>
        <GridColumn HeaderText="Manage Records" Width="150">
          <GridCommandColumns>
            <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions { IconCss = "e-icons e-edit", CssClass = "e-flat" })"/>
          </GridCommandColumns>
        </GridColumn>
      </GridColumns>
    </SfGrid>
  </div>
</div>

@code {

  #region Grid

  SfGrid<VGroupUserpoint>? GridPoints { get; set; }
  List<VGroupUserpoint> _lstPoints = new();

  private async Task GridPointsActionBegin(ActionEventArgs<VGroupUserpoint> obj)
  {
    if (obj.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit)
    {
      obj.Cancel = true;
      await sessionStorage.SetItemAsync(Helper.paramDetailPointView, Tuple.Create(obj.Data.Contenderid, obj.Data.Contendername, obj.Data.Eventid, obj.Data.Eventchallengeid, obj.Data.Divisionid));
      navManager.NavigateTo("/PointDetail");
    }
  }

  private Query GetPointsQuery()
  {
    if (_eventId != null && _eventChallengeId != null && _divisionId != null)
    {
      return new Query()
        .Where("eventid", "equals", _eventId)
        .Where("eventchallengeid", "equals", _eventChallengeId)
        .Where("divisionid", "equals", _divisionId);
    }
    return new Query().Where("eventid", "equals", -1);
  }

  /// <summary>
  /// Event for Toolbar click for Grid Exporting
  /// </summary>
  private async Task GridToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
  {
    if (GridPoints == null) return;
    switch (args.Item.Id)
    {
      case $"{nameof(GridPoints)}_excelexport":
        await GridPoints.ExportToExcelAsync();
        break;
      case $"{nameof(GridPoints)}_pdfexport":
        await GridPoints.ExportToPdfAsync();
        break;
      case $"{nameof(GridPoints)}_csvexport":
        await GridPoints.ExportToCsvAsync();
        break;
    }
  }

  #endregion

  private SfComboBox<int?, Event>? comboEvents { get; set; }
  private SfComboBox<int?, EventChallengeInternal>? comboChallenges { get; set; }
  private SfComboBox<int?, EventChallengeDivisionInternal>? comboDivisions { get; set; }

  #region general

  public class EventChallengeInternal
  {
    public int? EventChallengeId { get; set; }
    public string? EventChallengeName { get; set; }
    public int? EventId { get; set; }
  }

  public class EventChallengeDivisionInternal
  {
    public int? DivisionId { get; set; }
    public string? DivisionCompetition { get; set; }
    public int? EventChallengeId { get; set; }
  }

  protected override async Task OnInitializedAsync()
  {
    _lstEvents = await new dbContext()
      .Events
      .OrderBy(x => x.Name)
      .ToListAsync();

    _lstPoints = await new dbContext()
      .VGroupUserpoints
      .ToListAsync();

    if (_lstEvents.Any())
    {
      _eventId = _lstEvents.FirstOrDefault()?.Id;
      if (comboEvents != null)
        await comboEvents.RefreshDataAsync();
    }
  }

  #endregion

  #region Event

  int? _eventId;
  List<Event> _lstEvents = new();

  private async Task OnEventValueChange(ChangeEventArgs<int?, Event> args)
  {
    await FillLstChallenges();
    if (comboChallenges != null)
      await comboChallenges.RefreshDataAsync();
  }

  #endregion

  #region Challenges

  int? _eventChallengeId;
  List<EventChallengeInternal> _lstChallenges = new();

  private async Task OnEventChallengeValueChange(ChangeEventArgs<int?, EventChallengeInternal> args)
  {
    await FillLstDivisions();
    if (comboDivisions != null)
      await comboDivisions.RefreshDataAsync();
  }

  private async Task FillLstChallenges()
  {
    _lstChallenges.Clear();

    if (_eventId != null)
    {
      _lstChallenges = await new dbContext()
        .Eventchallenges
        .Include(x => x.Challenge)
        .Where(f => f.Eventid == _eventId)
        .OrderBy(z => z.Name)
        .Select(y => new EventChallengeInternal
        {
          EventChallengeId = y.Id,
          EventChallengeName = y.Name,
          EventId = y.Eventid
        })
        .ToListAsync();
    }
    _eventChallengeId = _lstChallenges.FirstOrDefault()?.EventChallengeId;
  }

  #endregion

  #region Division

  int? _divisionId;
  List<EventChallengeDivisionInternal> _lstDivision = new();

  private async void OnDivisionValueChange(ChangeEventArgs<int?, EventChallengeDivisionInternal> args)
  {
  //await FillLstPoints();
  //if (GridPoints != null)
  //{
  //	GridPoints.DataSource = _lstPoints;
  //	await GridPoints.Refresh();
  //}
  }

  private async Task FillLstDivisions()
  {
    _lstDivision.Clear();
    if (_eventChallengeId != null)
    {
      _lstDivision = await new dbContext()
        .Eventchallengedivisions
        .Include(x => x.Division)
        .ThenInclude(y => y.Competitiontype)
        .Where(x => x.Eventchallengeid == _eventChallengeId)
        .Select(q => new EventChallengeDivisionInternal
        {
          DivisionId = q.Divisionid,
          DivisionCompetition = $"{q.Division.Competitiontype.Name}, {q.Division.Name}",
          EventChallengeId = q.Eventchallengeid
        })
        .ToListAsync();
    }
    _divisionId = _lstDivision.FirstOrDefault()?.DivisionId;
  }

  #endregion

}